.nav {
    background-color: var(--gray);
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: 100px;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 100%;
    min-height: 100vh;
}

.profile-picture {
    margin-top: 20px;
    width: 50px;
}

.first-name {
    color: white;
    text-align: center;
}

.logout-button {
    width: 50px;
    bottom: 20px;
    position:absolute;
    cursor: pointer;
}

.logout-button:hover {
    opacity: 70%;
}